# This workflow will set up a test project based on AFC SDK for CAP Node.js and deploy to Kyma
name: Test Deploy Node/Kyma
permissions:
  contents: read
  pull-requests: write

# https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#workflow_run
on:
  workflow_run:
    workflows: ["Main CI"]
    types:
      - completed
    branches:
      - main
  workflow_dispatch:

env:
  NODE_OPTIONS: --use-openssl-ca
  DEBIAN_FRONTEND: noninteractive
jobs:
  default:
    if: (github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success') || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
      - run: npm ci
      - name: Setup CDS project
        run: npx cds init afcsdk
      - name: Install SDK
        run: npm install github:cap-js-community/sap-afc-sdk
        working-directory: ./afcsdk
      - name: Boostrap SDK
        run: npx afc init kyma
        working-directory: ./afcsdk
        env:
          CONTAINER_REPOSITORY: ${{ secrets.ARTIFACTORY_REPOSITORY }}
          GLOBAL_DOMAIN: ${{ secrets.KYMA_GLOBAL_DOMAIN }}
          APPROUTER_URL: https://afcsdk-approuter-${{ secrets.KYMA_NAMESPACE }}.${{ secrets.KYMA_GLOBAL_DOMAIN }}
          SERVER_URL: https://afcsdk-srv-${{ secrets.KYMA_NAMESPACE }}.${{ secrets.KYMA_GLOBAL_DOMAIN }}
      - name: Add SDK features
        run: npx afc add -a broker,stub,mock,sample,test,http
        working-directory: ./afcsdk
        env:
          BROKER_PASSWORD_HASH: ${{ secrets.BROKER_PASSWORD_KYMA_HASH }}
          BROKER_SERVICE_ID: ${{ secrets.BROKER_SERVICE_KYMA_ID }}
          BROKER_SERVICE_PLAN_ID: ${{ secrets.BROKER_SERVICE_KYMA_PLAN_ID }}
      - name: Unit Test
        run: npm test
        working-directory: ./afcsdk
      - name: Setup Kyma
        uses: ./.github/actions/kyma-setup
        with:
          kubeConfig: ${{ secrets.KUBE_CONFIG }}
      - name: Login Docker
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.ARTIFACTORY_REPOSITORY }}
          username: ${{ secrets.ARTIFACTORY_CI_USERNAME }}
          password: ${{ secrets.ARTIFACTORY_TOKEN }}
      - name: CDS Up
        run: npx cds up --to k8s -n ${{ secrets.KYMA_NAMESPACE }}
        working-directory: ./afcsdk
