# This workflow will set up a test project based on AFC SDK for CAP Node.js and deploy to Cloud Foundry
name: Test Deploy Node/CF
permissions:
  contents: read
  pull-requests: write

# https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#workflow_run
on:
  workflow_run:
    workflows: ["Main CI"]
    types:
      - completed
    branches:
      - main
  workflow_dispatch:

env:
  NODE_OPTIONS: --use-openssl-ca
jobs:
  default:
    if: (github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success') || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
      - run: npm ci
      - name: Setup CDS project
        run: npx cds init afcsdk
      - name: Install SDK
        run: npm install github:cap-js-community/sap-afc-sdk
        working-directory: ./afcsdk
      - name: Boostrap SDK
        run: npx afc init cf
        working-directory: ./afcsdk
      - name: Add SDK features
        run: npx afc add -a app,broker,stub,mock,sample,test,http
        working-directory: ./afcsdk
        env:
          BROKER_PASSWORD_HASH: ${{ secrets.BROKER_PASSWORD_HASH }}
          BROKER_SERVICE_ID: ${{ secrets.BROKER_SERVICE_ID }}
          BROKER_SERVICE_PLAN_ID: ${{ secrets.BROKER_SERVICE_PLAN_ID }}
      - name: Unit Test
        run: npm test
        working-directory: ./afcsdk
      - name: Install CF actions
        run: npm i @actions/core && npm i @actions/exec && npm i @actions/tool-cache
      - name: Setup CF
        uses: cap-js/cf-setup@v1
        with:
          cf-api: ${{ secrets.CF_API }}
          cf-org: ${{ secrets.CF_ORG }}
          cf-space: ${{ secrets.CF_SPACE }}
          cf-username: ${{ secrets.CF_USERNAME }}
          cf-password: ${{ secrets.CF_PASSWORD }}
      - name: CDS Up
        run: npx cds up --to cf
        working-directory: ./afcsdk
